version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'thursday'
      time: '22:00'
      timezone: 'America/Los_Angeles'
    open-pull-requests-limit: 5
    reviewers:
      - 'bcdady'
    versioning-strategy: increase
    labels:
      - 'dependencies'
      - 'npm'
    commit-message:
      prefix: 'chore'
      prefix-development: 'chore(dev)'
      include: 'scope'
    groups:
      minor-and-patch:
        patterns:
          - '*'
        update-types:
          - 'minor'
          - 'patch'
        exclude-patterns:
          - 'typescript'
          - '@types/*'
